In [ ]:
## Looping statements----------->for loop

In [1]:
myfriends=['dharani','sony','mastan','venky','prakash']

In [2]:
print(myfriends)

['dharani', 'sony', 'mastan', 'venky', 'prakash']

In [3]:
for x in myfriends:
    print(x)

dharani
sony
mastan
venky
prakash

In [6]:
print("here are my friends")
for x in myfriends:
    print(x.upper())

here are my friends
DHARANI
SONY
MASTAN
VENKY
PRAKASH

## Introduction to tuple datatype

In [ ]:
tuple-------->collection of elements or items

In [ ]:
## Tuple is going to declare in ()

In [ ]:
list            tuple
[]               ()
mutable datatype  immutable datatype
['python',44,9.8] (8.8,'python',5)
adding
updating            adding,updating,deleting
deleting

In [ ]:
** Creating a tuple
** how to add elements
** updating of elements
*** deleting of element
** slicing

In [16]:
dimensions=(100,22,44)

In [17]:
print(dimensions)

(100, 22, 44)

In [18]:
type(dimensions)

tuple

In [10]:
s=('biryani',4.5,88)

In [11]:
print(s)

('biryani', 4.5, 88)

In [12]:
type(s)

tuple

In [ ]:
s=('kia','audi')

In [ ]:
## Adding of new elements in tuple

In [19]:
print(dimensions)

(100, 22, 44)

In [20]:
dimensions[1]=150

TypeError: 'tuple' object does not support item assignment

In [21]:
dimensions=(100,22,44,50,2020,333)

In [22]:
print(dimensions)

(100, 22, 44, 50, 2020, 333)

In [23]:
print(s)

('biryani', 4.5, 88)

In [24]:
s=('biryani',4.5,88,'python','movie',99)

In [25]:
print(s)

('biryani', 4.5, 88, 'python', 'movie', 99)

In [ ]:
## Updating of elements

In [26]:
a=(1,2,3,4,5,6.7,77,4)
b=(33,5,7,8,3,5,3,3,444,8)

In [27]:
c=a+b

In [28]:
print(c)

(1, 2, 3, 4, 5, 6.7, 77, 4, 33, 5, 7, 8, 3, 5, 3, 3, 444, 8)

In [ ]:
c=(22,3,45,77)---------------------->tuple
c=()-------------------------------->empty tuple
c=(5)---------------------------------->not a tuple
c=(5,)---------------------------------->tuple

In [29]:
c=()

In [30]:
print(c)

()

In [31]:
type(c)

tuple

In [32]:
c=(5)

In [33]:
print(c)

5

In [34]:
type(c)

int

In [35]:
v=(4,)

In [36]:
print(v)

(4,)

In [37]:
type(v)

tuple

In [ ]:
## deleting of elements

In [38]:
del dimensions     ## syntax

In [39]:
print(dimensions)

NameError: name 'dimensions' is not defined

In [40]:
print(s)

('biryani', 4.5, 88, 'python', 'movie', 99)

In [41]:
del s

In [42]:
print(s)

NameError: name 's' is not defined

In [ ]:
## slicing of tuple

In [43]:
v=(1,2,3,4,5,33,66,77,86,89,778,67,90,87,56)
   0 1 2 3 4  5 6  7  8   9  10 11  12 13 14

In [44]:
print(v)

(1, 2, 3, 4, 5, 33, 66, 77, 86, 89, 778, 67, 90, 87, 56)

In [45]:
v[0:4]

(1, 2, 3, 4)

In [46]:
v[0:2]

(1, 2)

In [47]:
v[11:15]

(67, 90, 87, 56)

In [48]:
v[ :6]

(1, 2, 3, 4, 5, 33)

In [49]:
v[ :3]

(1, 2, 3)

In [50]:
v[ :12]

(1, 2, 3, 4, 5, 33, 66, 77, 86, 89, 778, 67)

In [51]:
v[2: ]

(3, 4, 5, 33, 66, 77, 86, 89, 778, 67, 90, 87, 56)

In [52]:
v[7: ]

(77, 86, 89, 778, 67, 90, 87, 56)

In [53]:
v[ : ]

(1, 2, 3, 4, 5, 33, 66, 77, 86, 89, 778, 67, 90, 87, 56)